/* Extra large devices  */


/* Large devices  */

/* Medium devices */

/* Small devices  */
@media (min-width: 576px) and (max-width: 767.98px) {

 /* Header Part Start */
  .navbar-toggler i {
    color: #5e3bee;
    font-size: 30px;
  }
  .navbar-nav {
    background: #5e3bee;
    text-align: center;
    border-radius: 5px;
  }
  .nav-link {
    color: white;
    font-weight: 700;
  }
  /* Header Part End */

  /* Banner part start  */
  .bannertext {
    padding-top: 20px;
    text-align: center;
  }
  .bannertext h1 {
    font-size: 35px;
    font-weight: 700;
    color: #333;
    line-height: 51px;
    width: 296px;
    padding-top: 31px;
    padding-bottom: 37px;
  }
  .bbc{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .col-xs-6{
    width: 50%;
    margin: 15px 0;
  }
  /* Banner part end */

  /* service part start  */
 .servicetext p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(51, 51, 51, 0.468);
  text-transform: capitalize;
  line-height: 32px;
  padding: 0 ;
}
.serviceiteam {
	background: #ffffff;
	border-radius: 24px;
	padding: 65px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transition: 0.4s;
	margin: 10px 0;
}
  /* service part end */

  /* pic part start  */
  * {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	text-align: center;
}
  /* pic part end */

  /* testimonyitem part start  */
  .testimonyitem {
	padding: 50px;
	border-radius: 25px;
	background: #ffffff;
	filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.2));
	transition: 0.4s;
	margin-top: 30px;
}
  /* testimonyitem part end */

  /* footer part start  */
  #footerpart {
	width: 95%;
	text-align: center;
	margin-top: 20px;
  padding: 50px 20px 20px 20px;
}

.footerPartLeft p {
	width: 280px;
	margin: 0 auto;
	line-height: 25px;
	font-size: 16px;
	padding-bottom: 30px;
}
.footermenu ul li {
	display: inline-block;
	padding: 0 3px;
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
}
.alllogo{
  padding-top: 20px;
}
  /* footer part end */

  /* Banner part start  */
  /* Banner part end */

  /* Banner part start  */
  /* Banner part end */

  /* Banner part start  */
  /* Banner part end */

  /* Banner part start  */
  /* Banner part end */

  /* Banner part start  */
  /* Banner part end */

}

/* Extra small devices  */
@media (min-width: 320px) and (max-width: 575.98px) {
  /* Header Part Start */
  .navbar-toggler i {
    color: #5e3bee;
    font-size: 30px;
  }
  .navbar-nav {
    background: #5e3bee;
    text-align: center;
    border-radius: 5px;
  }
  .nav-link {
    color: white;
    font-weight: 700;
  }
  /* Header Part End */

  /* Banner part start  */
  .bannertext {
    padding-top: 20px;
    text-align: center;
  }
  .bannertext h1 {
    font-size: 35px;
    font-weight: 700;
    color: #333;
    line-height: 51px;
    width: 296px;
    padding-top: 31px;
    padding-bottom: 37px;
  }
  .bbc{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .col-xs-6{
    width: 50%;
    margin: 15px 0;
  }
  /* Banner part end */

  /* service part start  */
 .servicetext p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(51, 51, 51, 0.468);
  text-transform: capitalize;
  line-height: 32px;
  padding: 0 ;
}
.serviceiteam {
	background: #ffffff;
	border-radius: 24px;
	padding: 65px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transition: 0.4s;
	margin: 10px 0;
}
.resText p {
	font-size: 16px;
	font-weight: 400;
	color: #333;
	line-height: 32px;
	padding-bottom: 30px;
	width: 300px;
}
  /* service part end */

  /* pic part start  */
  * {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	text-align: center;
}
  /* pic part end */

  /* testimonyitem part start  */
  .testimonyitem {
	padding: 50px;
	border-radius: 25px;
	background: #ffffff;
	filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.2));
	transition: 0.4s;
	margin-top: 30px;
}
  /* testimonyitem part end */

  /* footer part start  */
  #footerpart {
	width: 95%;
	text-align: center;
	margin-top: 20px;
  padding: 50px 20px 20px 20px;
}

.footerPartLeft p {
	width: 280px;
	margin: 0 auto;
	line-height: 25px;
	font-size: 16px;
	padding-bottom: 30px;
}
.footermenu ul li {
	display: inline-block;
	padding: 0 3px;
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
}
.alllogo{
  padding-top: 20px;
}
  /* footer part end */

  /* Banner part start  */
  /* Banner part end */

  /* Banner part start  */
  /* Banner part end */

  /* Banner part start  */
  /* Banner part end */

  /* Banner part start  */
  /* Banner part end */

  /* Banner part start  */
  /* Banner part end */
}
